<div class="">
  <div class="w-full article-banner">
    <div class="container p-5 mx-auto h-80 article-content">
      <div
        class="flex flex-col items-center justify-center h-full sm:flex-row sm:justify-start"
      >
        <div class="flex justify-center sm:mr-16">
          <img src="assets/images/rv-img.jpg" alt="" class="w-1/2 sm:w-full" />
        </div>
        <div class="text-center sm:text-left">
          <h1 class="font-bold">I am RV</h1>
          <p class="mb-0 font-semibold text-white text-md">
            - Tech Enthusiast, Entreprenur, Mentor
          </p>
          <div class="flex justify-center mt-4 sm:justify-start">
            <span class="mr-3 icon github">
              <a href="https://github.com/Rajavasanthan" target="_blank"
                ><img src="assets/images/github.svg" alt=""
              /></a>
            </span>
            <span class="icon linkedin">
              <a
                href="https://www.linkedin.com/in/rajavasanthan-rv-4748a932/"
                target="_blank"
              >
                <img src="assets/images/linkedin.svg" alt="" />
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 mx-auto">
  <div class="">
    <div class="redirect-menu">
      <span class="home" (click)="backToHome()">Home</span>
      <span class="slash-symbol">/</span>
      <span class="slug-name">{{ article.title }}</span>
    </div>
  </div>
  <markdown ngPreserveWhitespaces [src]="article.markDownFile"></markdown>
</div>
