blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

blockquote:before {
  content: "“";
  left: -1rem;
  top: -1rem;
}

blockquote:after {
  content: "”";
  right: -2rem;
  bottom: 0rem;
}

.article-banner {
  background-image: url("../../assets/images/bg-img.jpg");
}

.article-content {
  color: #ffffff;
}

.redirect-menu {
  padding: 1rem 0 1rem 0;
  color: #151413;
  font-weight: 600;
}

.redirect-menu .home {
  cursor: pointer;
  transition: opacity 0.5s;
}

.redirect-menu .home:hover {
  opacity: 0.6;
}

.redirect-menu .slash-symbol {
  padding: 0 3px;
}

.redirect-menu .slug-name {
  opacity: 0.6;
}

.icon img {
  width: 32px;
  cursor: pointer;
}
