@import url("https://fonts.googleapis.com/css?family=Special+Elite");

.font-elite {
  font-family: "Special Elite", cursive;
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1000px !important;
}

h1 {
  @apply py-4 text-3xl font-semibold;
}

h2 {
  @apply mb-4 text-xl font-bold text-black sm:text-xl;
}

p {
  @apply mb-8 leading-relaxed;
}

a {
  @apply text-blue-700
}

ol {
  @apply list-decimal pl-6 space-y-4 mb-6;
}

ul {
  @apply list-disc pl-6 space-y-4 mb-6 mt-4;
}

li {
  @apply text-gray-800 font-medium;
}

table {
  @apply w-full table-auto border mb-6 overflow-x-auto;
}

thead {
  @apply bg-gray-100;
}

th {
  @apply text-left px-2 py-2 sm:px-4 font-semibold text-gray-700 border-b text-sm sm:text-base;
}

tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

td {
  @apply px-2 py-2 sm:px-4 border-b text-gray-800 text-sm sm:text-base;
}

tr:hover {
  @apply bg-gray-100;
}

/* For very small screens */
@media (max-width: 640px) {
  table {
    @apply text-sm;
  }
  
  th, td {
    @apply px-1 py-1;
  }
}

markdown img {
  width: 100%;

  @media (max-width: 640px) {
    width: 75%;
  }
}