<!-- <h3> <a routerLink="/article/two-days-workshop-in-pailagam">Article 1 </a></h3> -->
<!-- <h3><a routerLink='/article/vaathiyar-ai-got-incubation-in-iit-madras'>Article 2</a></h3> -->

<section class="container mx-auto px-5 pt-10 pb-10">
  <img
    src="assets/icon.svg"
    class="w-16 border-blue-200 border-2 rounded-full"
    alt=""
  />
  <h1 class="text-3xl font-semibold py-4">
    Hey
    <span
      ><img
        src="assets/waving-hand-sign.svg"
        class="w-10 inline-block mr-4"
        alt="" /></span
    >I am <span class="text-4xl">RV</span>
  </h1>
  <h2 class="text-md">- Tech Enthusiast, Entreprenur, Mentor</h2>
</section>

<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 pb-10 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="https://dummyimage.com/720x600"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <p class="mb-8 leading-relaxed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vel
        vitae dolores sint natus esse aut illum commodi aliquam atque maxime
        minima quia ea inventore labore soluta nam ratione modi officiis, optio
        blanditiis molestiae mollitia voluptas hic! Id labore aut ipsum unde
        pariatur dolorum optio sequi sed ad ipsa veritatis non, et officia
        placeat doloremque alias corporis quasi nihil commodi earum nesciunt
        minima cupiditate. Maxime sint corrupti nihil tempora animi dignissimos
        repellendus quos ullam quae perferendis tempore quaerat voluptatem,
      </p>
    </div>
  </div>
</section>

<section class="container mx-auto px-5 pb-10">
  <h2 class="text-center text-2xl font-semibold pb-6">Founder of</h2>
  <div class="flex justify-around border-y-2 border-gray-200 py-6">
    <div class=""><img src="https://dummyimage.com/250x150" alt="" /></div>
    <div class=""><img src="https://dummyimage.com/250x150" alt="" /></div>
    <div class=""><img src="https://dummyimage.com/250x150" alt="" /></div>
  </div>
</section>

<app-event
  [id]="'1'"
  [title]="'First Event'"
  [subTitle]="'First Event Sub Title'"
  summary="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id   aspernatur sint nulla autem ducimus impedit in, consequatur reiciendis  non.Optio error nesciunt pariatur deserunt magni, aliquam iure blanditiis delectus voluptate, quibusdam explicabo, maiores odio! Repellat officiis sequi recusandae laudantium quos modi, dolore impedit vero eum tempora id delectus est quae aut nisi, veritatis eius ab pariatur magni, ad laboriosam.Maxime consequuntur eius placeat voluptate tempore veritatis vitae, corrupti assumenda harum nam voluptatem ratione ab, dolore suscipit hic reprehenderit saepe"
  [imageUrl]="'https://dummyimage.com/350x300'"
  [bannerImageUrl]="'https://dummyimage.com/1200x300'"
  [changePosition]="false"
></app-event>

<app-event
  [id]="'2'"
  [title]="'Second Event'"
  [subTitle]="'Second Event Sub Title'"
  summary="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur id   aspernatur sint nulla autem ducimus impedit in, consequatur reiciendis  non.Optio error nesciunt pariatur deserunt magni, aliquam iure blanditiis delectus voluptate, quibusdam explicabo, maiores odio! Repellat officiis sequi recusandae laudantium quos modi, dolore impedit vero eum tempora id delectus est quae aut nisi, veritatis eius ab pariatur magni, ad laboriosam.Maxime consequuntur eius placeat voluptate tempore veritatis vitae, corrupti assumenda harum nam voluptatem ratione ab, dolore suscipit hic reprehenderit saepe"
  [imageUrl]="'https://dummyimage.com/350x300'"
  [bannerImageUrl]="'https://dummyimage.com/1200x300'"
  [changePosition]="true"
></app-event>
