<!-- <h3> <a routerLink="/article/two-days-workshop-in-pailagam">Article 1 </a></h3> -->
<!-- <h3><a routerLink='/article/vaathiyar-ai-got-incubation-in-iit-madras'>Article 2</a></h3> -->

<section class="container px-5 pt-6 pb-6 mx-auto">
  <img
    src="assets/images/profile-icon.png"
    class="w-12 border-blue-200 rounded-full sm:w-16"
    alt=""
  />
  <h1 class="py-4 text-3xl font-semibold">
    Hello
    <span
      ><img
        src="assets/waving-hand-sign.svg"
        class="inline-block w-10 mr-4"
        alt="" /></span
    >I am <span class="text-4xl">RV</span>
  </h1>
  <p class="mb-0 font-semibold text-gray-400 text-md">
    - Tech Enthusiast, Entreprenur, Mentor
  </p>
  <div class="flex justify-center mt-4 sm:justify-start">
    <span class="mr-3 icon github">
      <a href="https://github.com/Rajavasanthan" target="_blank"
        ><img src="assets/images/github.svg" alt=""
      /></a>
    </span>
    <span class="icon linkedin">
      <a
        href="https://www.linkedin.com/in/rajavasanthan-rv-4748a932/"
        target="_blank"
      >
        <img src="assets/images/linkedin.svg" alt="" />
      </a>
    </span>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div
    class="container flex flex-col items-center px-5 pb-6 mx-auto md:flex-row"
  >
    <div class="w-full mb-6 md:w-1/2 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="assets/images/profile-picture.jpeg"
      />
    </div>
    <div
      class="flex flex-col items-center lg:flex-grow md:w-1/2 md:pl-16 md:items-start"
    >
      <p class="mb-4 leading-relaxed">
        I am a devoted technology enthusiast and mentor with a profound passion for software development. In my daily interactions, I engage with a diverse array of students, always eager to impart my knowledge and share my experiences. As the founder of Grids and Guides, a forward-thinking company dedicated to empowering individuals to harness technology in innovative and meaningful ways, I am committed to fostering a culture of continuous learning and growth.
      </p>
      <p class="mb-4 leading-relaxed">
        Beyond my role as a mentor and entrepreneur, I take pride in spearheading the Each One Teach One community—a dynamic network aimed at connecting individuals who share a common dedication to exchanging skills and expertise. My journey is fueled by an unwavering desire to make a positive impact on the world through the transformative power of technology.
      </p>
      <p class="mb-4 leading-relaxed">
        With a keen focus on collaboration, I am constantly seeking new opportunities to join forces with like-minded individuals, driven by the shared goal of making a meaningful difference. Through my work, I aspire to contribute to the ever-evolving landscape of technology and inspire others to embrace the ethos of Each One Teach One.
      </p>
      <p class="mb-0 leading-relaxed">
        Join me on this exciting journey of perpetual learning, growth, and impactful contributions to the world through the realm of technology.
      </p>
      <div class="mx-auto mt-8">
        <a
          class="px-8 py-2 font-semibold text-white bg-blue-500 rounded-full hover:bg-blue-400"
          href="https://www.linkedin.com/mynetwork/discovery-see-all/?usecase=PEOPLE_FOLLOWS&followMember=rajavasanthan-rv-4748a932"
          target="_blank"
          >Follow on LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>

<section class="container px-5 pb-2 mx-auto">
  <h2 class="pb-6 mb-0 text-2xl font-semibold text-center">Founder of</h2>
  <div class="flex justify-around py-4 border-gray-200 border-y-2">
    <div class="">
      <a href="https://gridsandguides.com" target="_blank">
        <img src="assets/images/GridsandGuides.png" alt="" />
      </a>
    </div>
    <div class="">
      <a href="https://eachoneteachone.co.in" target="_blank">
        <img src="assets/images/EachOneTeachOne.png" alt="" />
      </a>
    </div>
    <div class="">
      <a href="https://vaathiyar.ai" target="_blank">
        <img src="assets/images/Vaathiyar.ai.png" alt="" />
      </a>
    </div>
  </div>
</section>

<app-event
  *ngFor="let event of eventJson; let i = index"
  [articleCardDetails]="event"
></app-event>
